<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>RECETAS</mat-card-title>
      <mat-card-subtitle>TIRAMISÚ</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/tiramisu.png" alt="tiramisu">
    <mat-card-content>
        <h2>INGREDIENTES</h2>
      <p class="descripcion">
        2 tazas de leche para las crepas 1 1/2, tazas de harina para las crepas 2,piezas de huevo para las crepas 1/8 detaza de azúcar para las crepas 1, cucharada de esencia de vainilla para las crepas
      </p>
      <h2>PREPARACIÓN</h2>
      <p class="descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur sapiente pariatur saepe tenetur odit blanditiis, numquam amet magni expedita nam aut, architecto, dolorum hic ad obcaecati quaerat asperiores totam vitae.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
